body {
    /* background-color: #1b6ccd; */
    background-color: rgb(105, 13, 171);
}

.d0 {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    height: 100%;
    background-color: #afc6e3;
    padding: 30px;
    /* color: white; */
    border-radius: 10px;
    box-shadow: 8px 8px;
    font-size: 18px;
}

.d1 {
    border: solid 2px gold;
    padding: 10px;
    /* margin: auto; */
    border-radius: 6px;
}
