body {
    margin: auto;
    width: 40%;
    /* background-color: indigo; */
    background-color: rgb(140, 109, 255);
}
.f {
    margin: auto;
    margin-top: 10%; 
    border: solid 2px indigo;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    /* background-color: white; */
    background-color: indigo;

}

.f0 {
    /* width: 150px; */
    margin-bottom: 2px;
    border-radius: 4px;
}

.f1 {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px indigo;
    color: black;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 2%;
}

.f2 {
    margin: auto;
    margin-top: 5%; 
    border: solid 2px indigo;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    background-color: white;
    /* background-color: indigo; */

}

.b1 {
    /* margin: auto; */
    background-color:rgb(149, 137, 255);
    border: solid 2px indigo;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 16px;
    width: 50%;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

.datatable{
    width: 100%;
    border-collapse: collapse;
    background-color: blue;
 }
 .datatable td, th{
    border-bottom: 1px solid gray;
    padding: 10px;
    background-color: azure;
 }
 
 .main{
    background-color: rgb(116, 36, 255);
 }