/* @media (max-width: 768px){ */
    /* html {
      overflow-y:hidden;
    } */

    body {
        background-image: url(./potoebi/fuli.jpg);
        font-family: "open sans", sans-serif;
    }

    .d0 {
        width: 330px;
        margin: auto ;
        background-color: rgb(255, 255, 255);
        padding: 45px;
        box-sizing: border-box;
        height: auto;
        position: relative;
        box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
        border-radius: 7px;
    }

    .t1 {
        position: absolute;
        top:  -10px;
        left: 75px;
        background-color: #2AAA8A;
        /* background-color: #AFE1AF; */
        padding: 10px 20px;
        font-weight: 700;
        font-style: italic;
        text-transform: 1px;
        letter-spacing: 2px;
        border-radius: 4px;
        color: white;
    }

    .d1 {
        padding-top: 30px;
        margin-top: -20px;
    }

    .f0 {
        width: 250px;
        margin-bottom: 2px;
        border-radius: 4px;
    }

    .f1 {
        margin: 5px 0 0;
        width: 230px;
        padding: 10px;
        box-sizing: border-box;
        border: solid 2px #2AAA8A;
        /* border: solid 2px #AFE1AF; */
        color: rgb(189, 188, 188);
        font-size: 12px;
        border-radius: 4px;
    }

    #fosta_id {
      outline: none;

    }

    .b1 {
        width: 230px;
        background-color: #2AAA8A;
        border: solid 2px #2AAA8A;
        /* background-color: #AFE1AF; */
        /* border: solid 2px #AFE1AF; */
        height: 30px;
        text-align: center;
        line-height: 40px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 4px;
        font-size: 16px;
        padding-bottom: 40px;
        margin-bottom: -8px;
    }
/* } */


.container form{
  margin: 10px 0px 10px 0px;
  position: relative;
  border: solid 2px #AFE1AF;
  color: rgb(189, 188, 188);
  font-size: 12px;
  border-radius: 4px;
}

.container form .field{
  height: 35px;
  width: 100%;
  display: flex;
  position: relative;
}
form .field input{
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s;
}
/* form .field input:focus{
  border-color: #27ae60;
  box-shadow: inset 0 0 3px #2fd072;
} */
form .field .showBtn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: none;
  user-select: none;
}
form .indicator{
  height: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
form .indicator span{
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 5px;
}
form .indicator span:nth-child(2){
  margin: 0 3px;
}
form .indicator span.active:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.indicator span.weak:before{
  background-color: #ff4757;
}
.indicator span.medium:before{
  background-color: orange;
}
.indicator span.strong:before{
  background-color: #23ad5c;
}
form .text{
  font-size: 20px;
  font-weight: 500;
  display: none;
  margin-bottom: -10px;
}
form .text.weak{
  color: #ff4757;
}
form .text.medium{
  color: orange;
}
form .text.strong{
  color: #23ad5c;
}

/* ======================================= */
.a_hover {
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
  }
  
  .a_hover:hover {
    background-color: #46ccaa;
    color: black;
  }
  
  .previous {
    background-color: #2AAA8A;
    color: white;
  }

  .dark_mode .previous {
    background-color: #2AAA8A;
    color: black;
  }

  .dark_mode .previous:hover {
    background-color: #46ccaa;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
/* ======================================= */
.dark_mode {
	background-color: #192734;
    color: rgb(222, 222, 222);
    background-image: url(./potoebi/fuli_d.png);
}

.dark_mode .d0 {
    width: 330px;
    margin: auto ;
    background-color: #192734;
    padding: 45px;
    box-sizing: border-box;
    height: auto;
    position: relative;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
    border-radius: 7px;
}

.dark_mode .t1 {
    position: absolute;
    top:  -10px;
    left: 75px;
    background-color: #1f856b;
    padding: 10px 20px;
    font-weight: 700;
    font-style: italic;
    text-transform: 1px;
    letter-spacing: 2px;
    border-radius: 4px;
    color: rgb(222, 222, 222);
}

.dark_mode .f1 {
    margin: 5px 0 0;
    width: 230px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #527da5;
    border: solid 2px #1f856b;
    color: rgb(222, 222, 222);
    font-size: 12px;
    border-radius: 4px;
}

.dark_mode .b1 {
    width: 150px;
    background-color: #1f856b;
    border: solid 2px #1f856b;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(222, 222, 222);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: -50px;
    margin-top: 20px;
}

.dark_mode ::placeholder { 
    color: rgb(222, 222, 222);
  }

  .dark_mode img {
    filter: brightness(50%);
  }

/* ======================================= */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  .gilakebi {
      display: flex;
      justify-content: space-between;
      width: 100%;
      /* margin: auto; */
  }
/* ======================================= */

.dagaviwydat {
    text-decoration: underline rgb(72, 176, 218);
    color: rgb(72, 176, 218);
    font-size: 12px;
}

.err {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.sworia {
  color: rgb(7, 182, 7);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}