body {
    background-color:rgb(44, 56, 124);
}

.f1 {
    margin-bottom: 20px;
    margin-top: 10px;
}

form {
    margin: auto;
    border: black solid 2px;
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(189, 188, 255);
}

button {
    background-color:rgb(129, 144, 219);
    border: solid gainsboro 2px;
    /* color: white; */
    font-weight: bold;
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10%;
}

input, textarea {
    margin-left: 5px;
    padding: 6px;
    border-radius: 6px;
    min-width: 100px;
    border: rgb(44, 56, 124) solid 2px;
}

.t1 {
    border: rgb(44, 56, 124) solid 2px;
    margin: auto;
    margin-top: 10%;
    border-collapse: collapse;
    background-color: white;
    width: 30%;
    /* border-radius: 20px; */
}

.t1 tr th {
    /* border: rgb(44, 56, 124); */
    padding: 15px;
}

.t1 tr td {
    border: solid black 1px;
    padding: 15px;
}