body {
    background-color: rgb(44, 56, 124);
}

.d0 {
    margin-left: 30%;
    margin-top: 3%;
    border: black solid 2px;
    width: 30%;
    padding: 40px;
    background-color: #ecf1ff;
    border-radius: 10px;
}


input {
    margin-left: 5px;
    padding: 6px;
    border-radius: 6px;
    min-width: 100px;
    border: rgb(44, 56, 124) solid 2px;
}

button {
    background-color:rgb(146, 194, 238);
    border: solid rgb(95, 152, 206) 2px;
    padding: 8px;
    border-radius: 6px;
    margin: auto;
    width: 30%;
    font-weight: bold;
}