body {
    margin: 0;
    padding: 0;
}

.main {
    background-origin: solid 1px black;
    width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
}

.nav {
    background-color: blueviolet;
    width: 20%;
    border-right: splid 3px lightcoral;
}

.nav ul li {
    list-style: none;
    margin-top: 10px;
}

.nav ul li a {
    text-decoration: none;
}

.nav ul li a:hover{
    text-decoration: none;
    color: red;
    text-decoration: underline;
}

.content {
    background-color: cadetblue;
    width: 80%;
}

