.d0 {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.d1 {
    background-color: blueviolet;
    margin-bottom: 10px;
}

.d2 {
    background-color: rgb(160, 74, 240);
}

button {
    background-color: blueviolet;
}