form {
    border: solid black 1px;
    width: 30%;
    margin: auto;
    margin-top: 5%;
    padding: 30px;
    font-size: 16px;
}

input {
    border: solid black 2px;
    border-radius: 6px;
}

button {
    background-color: teal;
    border: solid rgb(95, 152, 206) 2px;
    padding: 8px;
    border-radius: 6px;
    margin: auto;
    width: 40%;
    font-weight: bold;
}
