body {
    background-color: #f7ded2;
}

table {
    border: solid black 1px;
    margin: auto;
    margin-top: 10%;
    border-collapse: collapse;
    background-color: white;
}

table tr th {
    border: solid black 1px;
    padding: 15px;
}

table tr td {
    border: solid black 1px;
    padding: 15px;
}
.sworia0 {
    background-color: mediumseagreen;
    /* background: #6dc77f; */
    color: white;
}

.sworia {
    background-color: rgb(111, 199, 151);
    /* background: #6dc77f; */
    color: white;
}

.kitxva0 {
    background-color: #f2f564;
}

.kitxva {
    background-color: #e9eb91;
}

button {
    background-color:lightsalmon;
    border: solid gainsboro 2px;
    padding: 8px;
    border-radius: 6px;
    margin: auto;
    width: 30%;
}

.pasuxi0 {
    background-color: cadetblue;
}

.pasuxi {
    background-color: rgb(135, 175, 177);
}

.d0 {
    margin: auto;
    margin-top: 8%;
    width: 50%;
    padding: 20px;
    border: #efd1b4 solid 4px;
    background-color: #fdf9f3;
    text-align: center;
}

.d1 {
    margin-bottom: 40px;
    text-align: left;
}

.dt {
    background-color: #efd1b4;
}

