
 
 
 .main{
    border: solid 1px black;
    width: 30%;
    height: 15%;
    margin: auto;
 }
 
 .nav{
    background-color: #3fafd1;
    width: 100%;
    height: 15%;
    border-right: solid 1px black;
 }
 
 .nav ul li{
    list-style: none;
    margin-right: 10px;
    font-size: 25px;
    margin-top: 10px;
    
 }

 .nav ul{
     display: flex;
     margin-top: 0px;
    
 }
 
 .nav ul li a{
    text-decoration: none;
     color: white;
 }
 
 .nav ul li a:hover{
    color: rgb(103, 155, 250);
    text-decoration: underline;
 }
 
 .content{
    background-color: gold;
    width: 100%;
    margin-top: -21px;   
 }
 
 
 .datatable{
    width: 100%;
    border-collapse: collapse;
 }
 
 .datatable td{
    border-bottom: 1px solid gray;

    background-color: azure;
 }
 