* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    background-color: white;
    color: white;
    font-family: "Poppins", sans-serif;
}

            /* super vip vakansiebi */
/* ======================================= */
.slaideri {
    display: none;
}

.slaideri_poto {
    vertical-align: middle;
    width: 99.2%;
    height: 64%;
}

.slaideri_container {
  width: 99.6%;
  position: relative;
  margin: auto;
  left: 1px;
}

.slaideri_text {
  color: #FFD700;
  border: solid 2px #FFD700;
  border-radius: 8px;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
  text-align: center;
}

.wertilebi {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  left: 45%;
  margin-bottom: 15px;
}

.wertilebi_gadasvla {
  background-color: #2AAA8A;
}

@media only screen and (max-width: 600px) {
    .slaideri_text {
        font-size: 20px;
    }
    
    .slaideri_container {
        overflow-y: hidden;
    }
}
/* ======================================= */




			/* kompis menu */
/* ======================================= */
.d0 a {
    text-decoration: none;
}

.d0 {
    padding: 0 20px;
    /* background-color: #1d1f1d; */
	background-color: #2AAA8A;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
  
.dasaxeleba {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}
  
.dasaxeleba a {
    /* color: #09c372; */
    color: #ffffff;
}
  
ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
ul a {
    color: rgb(255, 255, 255);
}
  
ul li {
    padding: 4px;
    margin: auto 0;
    margin-top: 8px;
    font-size: 18px;
    border-left: solid 1px black;
}

.no_border {
    border: hidden;
}
  
/* div ul li:hover {
    background-color: rgb(68, 112, 112);
    text-align: center;
    color: black;
} */

.k_menu a {
    font-size: 16px;
    margin-left: 14px;
    margin-right: 10px;
}
/* ======================================= */




			/* telefonis menu  */
/* ======================================= */
.h_icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
  
.h_icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

			/* gaxsnis animacia */
/* --------------------------------------- */
.gaxsna .h_1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.gaxsna .h_2 {
    opacity: 0;
}
  
.gaxsna .h_3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.gaxsna .m_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* --------------------------------------- */
  
.m_menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    /* height: calc(100vh - 50px); */
	height: 50%;
    width: 50%;
    background-color: darkslategrey;
    z-index: 999;
}
  
.m_menu li {
    margin-bottom: 10px;
}
/* ======================================= */


.chvens_shesaxeb {
    color: black;
    position: relative;
    left: 2%;
    margin-top: -200px;
    width: 90%;
    margin: auto;
    text-decoration: none;
}

.p0 {
    font-size: 26px;
    margin-left: 10%;
    margin-top: 10%;
    letter-spacing: 2px;
    margin-bottom: 2%;
    text-decoration: none;
}

.p1 {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 4%;
    margin-bottom: 5px;
}

.info {
    margin-top: 5px;
    margin-bottom: 30px;
} 

.info li {
    margin-top: 4px;
    font-size: 18px;
    text-decoration: none;
}

.dagvikavshirdit {
    background-color: #2AAA8A;
    width: 100%;
    padding: 5% 10%;
    color: white;
    height: 30%;
}

.p2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}



  			/* dark mode */
/* ======================================= */
			/* gadamrtveli */
/* --------------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

	/* fers ucvlis */
input:checked + .slider {
    background-color: #2196F3;
}

	/* arvici */
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

	/* burti gadadis */
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

	/* gadamrtveli */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* --------------------------------------- */

.dark_mode {
	background-color: #192734;
    color: rgb(222, 222, 222);
}


	/* menuebi */
/* --------------------------------------- */
.dark_mode .d0 {
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.dark_mode .dasaxeleba a {
    color: #09c372;
}

.dark_mode ul a {
    color: rgb(222, 222, 222);
}

.dark_mode ul li {
    padding: 4px;
    margin: auto 0;
    margin-top: 8px;
    font-size: 18px;
    border-left: solid 1px #08b368;
}

/* --------------------------------------- */
.dark_mode .chvens_shesaxeb {
    color: rgb(222, 222, 222);
    position: relative;
    left: 2%;
    margin-top: 20px;
    width: 90%;
    margin: auto;
    text-decoration: none;
    background-color: #192734;
}

.dark_mode .p0 {
    font-size: 26px;
    margin-left: 10%;
    margin-top: 10%;
    letter-spacing: 2px;
    margin-bottom: 2%;
    text-decoration: none;
}

.dark_mode .p1 {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 4%;
    margin-bottom: 5px;
}

.dark_mode .info {
    margin-top: 5px;
    margin-bottom: 30px;
    text-decoration: none;

} 

.dark_mode .info li {
    margin-top: 4px;
    font-size: 18px;
    text-decoration: none;
}

.dark_mode .dagvikavshirdit {
    background-color: #165a49;
    width: 100%;
    padding: 5% 10%;
    color: rgb(222, 222, 222);
    height: 30%;
}

.dark_mode .p2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.dark_mode .gamoqveyneba li {
    font-size: 18px;
    margin-left: -5%;
    margin-bottom: 6%;
    text-decoration: none;
}

/* --------------------------------------- */

@media only screen and (max-width: 600px) {
	.d0 .k_menu {
		display: none;
	}
  
	.h_icon {
		display: block;
	}

	div ul li:hover {
    	background-color: rgb(68, 112, 112);
    	width: 100%;
    	text-align: center;
    	color: black;
  	}

    ul li {
        padding: 4px;
        margin: auto 0;
        margin-top: 8px;
        font-size: 18px;
        border: hidden;
    }
    
    .no_border {
        border: hidden;
    }

    .dark_mode ul li {
        padding: 4px;
        margin: auto 0;
        margin-top: 8px;
        font-size: 18px;
        border-left: hidden;
    }

  }

            /* gamoqveyneba */
/* ======================================= */
/* .gamoqveyneba {
    color: black;
    font-size: 16px;
    margin-left: 4%;
}  */

/* .tarifebi {
    margin-top: 10px;
    margin-left: 4%;
} */

/* .tarifebi p{
    margin-top: 4px;
    margin-left: 5%;
} */

.tarifebi {
    margin-top: 10px;
    margin-left: 10%;
}

.tarifebi p{
    margin-top: 4px;
    margin-left: 5%;
}

.f0 {
    width: 150px;
    margin-bottom: 2px;
    border-radius: 4px;
    margin-top: -10%;
}

.f1 {
    margin: 5px 0 10px;
    width: 230px;
    padding: 10px;
    box-sizing: border-box;
    /* border: solid 2px #AFE1AF; */
    border: solid 2px #2AAA8A;
    color: black;
    background-color: #42d3af;
    font-size: 18;
    border-radius: 4px;
    margin-left: 10%;
    margin-top: -30px;
    margin-bottom: 40px;
}
