body{
    margin: 0;
    padding: 0;
 }
 .main{
    border: solid 1px black;
    width: 50%;
    min-height: 100vh;
    margin: auto;
    display: flex;
 }
 .nav{
    background-color: rgb(145, 172, 253);
    width: 20%;
    border-right: solid 1px rgb(0, 0, 0);
 }
 .nav ul li{
    list-style: none;
    margin-top: 10px;
 }
 .nav ul li a{
    text-decoration: none;
 }
 .nav ul li a:hover{
    color: black;
    /* text-decoration: underline; */
    border: solid 2px rgb(92, 141, 205);
    padding: 4px;
    border-radius: 4px;
 }
 .content{
    background-color: rgb(172, 209, 255);
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
 }
 .datatable{
    width: 100%;
    border-collapse: collapse;
 }
 .datatable td, th{
    border-bottom: 1px solid gray;
    padding: 10px;
    background-color: azure;
 }
 
 .chawera {
    border: solid 2px black;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
 }

 .b1 {
    border: solid 2px black;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(144, 182, 253);

 }