body {
    background-color: rgb(218, 243, 215);
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(232, 236, 247);

}

table th {
    background-color: rgb(212, 224, 250);

}

td, th {
    border: 1px solid #bbbbbb;
    text-align: left;
    padding: 6px;
    font-size: 18px;
}