form {
    border: solid black 1px;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    padding: 30px;
    font-size: 16px;
}

.b1 {
    background-color: lavender;
    border: solid gainsboro 2px;
    padding: 8px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 2%;
}

.b2 {
    background-color:lightsalmon;
    border: solid gainsboro 2px;
    padding: 8px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 8%;
}

.b2 a {
    color: black;
    text-decoration: none;
}

table {
    border: solid black 1px;
    margin: auto;
    border-collapse: collapse;
}

table tr th {
    border: solid black 1px;
    padding: 10px;
}

table tr td {
    border: solid black 1px;
    padding: 10px;
}
