body {
    margin: auto;
    width: 40%;
}
.f {
    margin: auto;
    margin-top: 10%; 
    border: solid 2px indigo;
    padding: 30px;
    border-radius: 10px;
    width: 230px;
}

.f0 {
    /* width: 150px; */
    margin-bottom: 2px;
    border-radius: 4px;
}

.f1 {
    /* margin: 5px 0 0; */
    margin-top: 10px;
    width: 230px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px indigo;
    color: black;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.b1 {
    background-color:rgb(149, 137, 255);
    border: solid 2px indigo;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin: auto;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 16px;
}

.err {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.kodi {
    color: green;
    font-size: 18px;
}

